{%  extends 'shop/basic.html'  %}

{% block title %}about page{% endblock %}
{% block body %}
    <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">E-cart</h1>
      <p>E-cart is the activity of electronically buying or selling of products on online services or over the Internet. Electronic commerce draws on technologies such as mobile commerce, electronic funds transfer, supply chain management, Internet marketing, online transaction processing, electronic data interchange (EDI), inventory management systems, and automated data collection systems. E-commerce is in turn driven by the technological advances of the semiconductor industry, and is the largest sector of the electronics industry.</p>
      
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Founder:</h2>
          <p><b>MR.RK</b> </p>

      </div>
      <div class="col-md-4">
        <h2>Our Goal Is..</h2>
        <p>our primary objective is to satisfy the customer with our precious service.Give their product in the given time period and give them original product .  </p>

      </div>
      <div class="col-md-4">
        <h2>Social</h2>
          <h6>Facebook</h6>
          <h6> Twitter </h6>

      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
{% endblock %}